CarRentalManagementSystem/JavaApplication2/xml-resources/web-service-references/CaRMSWebService/wsdl/localhost_8080/CaRMSWebService/CaRMSWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CategoryNotFoundException" type="tns:CategoryNotFoundException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="ModelNotFoundException" type="tns:ModelNotFoundException"/>

<xs:element name="RentalRateNotFoundException" type="tns:RentalRateNotFoundException"/>

<xs:element name="ReservationCreationException" type="tns:ReservationCreationException"/>

<xs:element name="checkCarAvailability" type="tns:checkCarAvailability"/>

<xs:element name="checkCarAvailabilityResponse" type="tns:checkCarAvailabilityResponse"/>

<xs:element name="checkForExistenceOfRentalRate" type="tns:checkForExistenceOfRentalRate"/>

<xs:element name="checkForExistenceOfRentalRateResponse" type="tns:checkForExistenceOfRentalRateResponse"/>

<xs:element name="createNewReservationRecord" type="tns:createNewReservationRecord"/>

<xs:element name="createNewReservationRecordResponse" type="tns:createNewReservationRecordResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="retrieveAllCategory" type="tns:retrieveAllCategory"/>

<xs:element name="retrieveAllCategoryResponse" type="tns:retrieveAllCategoryResponse"/>

<xs:element name="retrieveAllModel" type="tns:retrieveAllModel"/>

<xs:element name="retrieveAllModelResponse" type="tns:retrieveAllModelResponse"/>

<xs:element name="retrieveCategoryByCategoryId" type="tns:retrieveCategoryByCategoryId"/>

<xs:element name="retrieveCategoryByCategoryIdResponse" type="tns:retrieveCategoryByCategoryIdResponse"/>

<xs:element name="retrieveCategoryIdByModelId" type="tns:retrieveCategoryIdByModelId"/>

<xs:element name="retrieveCategoryIdByModelIdResponse" type="tns:retrieveCategoryIdByModelIdResponse"/>

<xs:element name="retrieveModelByModelId" type="tns:retrieveModelByModelId"/>

<xs:element name="retrieveModelByModelIdResponse" type="tns:retrieveModelByModelIdResponse"/>

<xs:element name="retrieveOutletByPickupDateTime" type="tns:retrieveOutletByPickupDateTime"/>

<xs:element name="retrieveOutletByPickupDateTimeResponse" type="tns:retrieveOutletByPickupDateTimeResponse"/>

<xs:complexType name="createNewReservationRecord">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg4" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg5" type="xs:long" minOccurs="0"/>
<xs:element name="arg6" type="xs:long" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:double"/>
<xs:element name="arg9" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewReservationRecordResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationCreationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCategoryIdByModelId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCategoryIdByModelIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModelNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCategoryByCategoryId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCategoryByCategoryIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryEntity">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="models" type="tns:modelEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rentalRate" type="tns:rentalRateEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelEntity">
<xs:sequence>
<xs:element name="cars" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
<xs:element name="modelName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carEntity">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="plateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:carStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalRateEntity">
<xs:sequence>
<xs:element name="endDateTime" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="ratePerDay" type="xs:double" minOccurs="0"/>
<xs:element name="rentalRateId" type="xs:long" minOccurs="0"/>
<xs:element name="rentalRateName" type="xs:string" minOccurs="0"/>
<xs:element name="startDateTime" type="tns:localDateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDateTime" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CategoryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveModelByModelId">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveModelByModelIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerEntity">
<xs:sequence>
<xs:element name="customer" type="tns:customerEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationRecord" type="tns:reservationRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerEntity">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservationRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationRecordEntity">
<xs:sequence>
<xs:element name="carEntity" type="tns:carEntity" minOccurs="0"/>
<xs:element name="category" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="ccNumber" type="xs:string" minOccurs="0"/>
<xs:element name="hasPast" type="xs:boolean" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean" minOccurs="0"/>
<xs:element name="model" type="tns:modelEntity" minOccurs="0"/>
<xs:element name="paidAmount" type="xs:double" minOccurs="0"/>
<xs:element name="pickUpDateTime" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="pickUpOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="refund" type="xs:double" minOccurs="0"/>
<xs:element name="rentalRate" type="xs:double"/>
<xs:element name="reservationRecordId" type="xs:long" minOccurs="0"/>
<xs:element name="returnDateTime" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="returnOutlet" type="tns:outletEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outletEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="cars" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="closingTime" type="tns:localTime" minOccurs="0"/>
<xs:element name="employees" type="tns:employeeEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="openingTime" type="tns:localTime" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localTime" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="employeeEntity">
<xs:sequence>
<xs:element name="accessRightEnum" type="tns:accessRightEnum" minOccurs="0"/>
<xs:element name="dispatchRecords" type="tns:transitDriverDispatchRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transitDriverDispatchRecordEntity">
<xs:sequence>
<xs:element name="dispatchRecordId" type="xs:long" minOccurs="0"/>
<xs:element name="dispatchRecordStatus" type="tns:dispatchRecordEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllModel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllModelResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkForExistenceOfRentalRate">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkForExistenceOfRentalRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RentalRateNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveOutletByPickupDateTime">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveOutletByPickupDateTimeResponse">
<xs:sequence>
<xs:element name="return" type="tns:outletEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCarAvailability">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
<xs:element name="arg5" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCarAvailabilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="carStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="REPAIR"/>
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="INTRANSIT"/>
<xs:enumeration value="ONRENTAL"/>
<xs:enumeration value="RESERVED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="accessRightEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SALESMANAGER"/>
<xs:enumeration value="OPERATIONSMANAGER"/>
<xs:enumeration value="CUSTOMERSERVICEEXECUTIVE"/>
<xs:enumeration value="EMPLOYEE"/>
<xs:enumeration value="CUSTOMER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="dispatchRecordEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UNASSIGNED"/>
<xs:enumeration value="ASSIGNED"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>